
.DS_Store
Clima.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
Clima.xcodeproj/project.xcworkspace/xcuserdata/geryjsumual.xcuserdatad/UserInterfaceState.xcuserstate
Clima.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
Clima.xcodeproj/xcuserdata/geryjsumual.xcuserdatad/xcschemes/xcschememanagement.plist
